In [ ]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import requests
import json
import time
from pprint import pprint
from config import api_key

## Scrape Hulu Orginial TV shows from Wikipedia

In [ ]:
hulu_url = 'https://en.wikipedia.org/wiki/List_of_Hulu_original_programming'

In [ ]:
# Use Panda's `read_html` to parse the url
hulu_tables = pd.read_html(hulu_url)
hulu_tables

## Extract Tables into DataFrames and Drop unreleased shows

In [ ]:
df1 = hulu_tables[0]
df1.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df1.tail()

In [ ]:
df1 = df1[:-3]
df1.tail()

In [ ]:
df2 = hulu_tables[1]
df2.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df2.tail()

In [ ]:
df2 = df2[:-2]
df2.tail()

In [ ]:
df3 = hulu_tables[2]
df3.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df3.tail()

In [ ]:
df4 = hulu_tables[3]
df4.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df4.tail()

In [ ]:
df4 = df4[:-2]
df4.tail()

In [ ]:
df5 = hulu_tables[4]
df5.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df5.tail()

In [ ]:
df6 = hulu_tables[5]
df6.columns = ['title', 'genre', 'premiere', 'seasons', 'length', 'status']
df6.tail()

In [ ]:
df6 = df6[:-2]
df6.tail()

## Merge All the tables into One

In [ ]:
hulu_df = df1.append(df2)
hulu_df.tail()

In [ ]:
hulu_df = hulu_df.append(df3)
hulu_df.tail()

In [ ]:
hulu_df = hulu_df.append(df4)
hulu_df.tail()

In [ ]:
hulu_df = hulu_df.append(df5)
hulu_df.tail()

In [ ]:
hulu_df = hulu_df.append(df6)
hulu_df.tail()

## Transform Hulu DataFrame

In [ ]:
hulu_df = hulu_df.reset_index().drop(columns=['index','seasons', 'premiere','length','status'])

In [ ]:
hulu_df

In [ ]:
# Convert the titles into a list
titles = hulu_df['title'].to_list()

print(len(titles))
print(titles)

## Extract Hulu series data from OMDB API

In [ ]:
# Empty list to recieve API call data 
ratings = []
writers = []
years = []

url = f'http://www.omdbapi.com/?apikey={api_key}&type=series&t='

In [ ]:
# Loop to get Hulu TV shows' data
for title in titles:
    
    try:
        series_data = requests.get(url + title).json()
        if (series_data['imdbRating'] != 'N/A'):
            ratings.append(series_data['imdbRating'])
            writers.append(series_data['Writer'])
            years.append(series_data['Year'])
            time.sleep(1)
        else:
            print(f'could not find {title} rating')
    except:
        print(f'could not find {title} rating')

In [ ]:
print(len(ratings))
print(len(writers))
print(len(years))

## Transform hulu_originals DataFrame Again

In [ ]:
# Drop TV shows that had no data
hulu_df.drop(hulu_df.loc[(hulu_df.title == "Marvel's Runaways") |
                         (hulu_df.title == "The Doozers") |
                         (hulu_df.title == "I Love You, America with Sarah Silverman")|
                         (hulu_df.title == "Taste the Nation with Padma Lakshmi")].index, inplace=True)

In [ ]:
hulu_df.reset_index(inplace=True)

In [ ]:
hulu_df.drop(columns='index', inplace=True)

In [ ]:
hulu_df

In [ ]:
titles = hulu_df['title'].to_list()
genres = hulu_df['genre'].to_list()

In [ ]:
# Create a new cleaned dataframe with all needed data
clean_hulu_df = pd.DataFrame({'title':titles,
                              'genre':genres,
                              'year':years,
                              'imdb_rating':ratings,
                              'writer':writers,
                              'network':'Hulu'})

In [ ]:
clean_hulu_df

In [ ]:
#create engine to connect to postgres
engine = create_engine(f'postgresql://postgres:0198@localhost:5432/shows_db')

#export dataframe to postgres
clean_hulu_df.to_sql ('hulu', con = engine, if_exists='append', index=True)